<div class="container mt-3">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="task.task" required>
          </div>
        </div>
        <!-- <div class="col-md-6">  
          <div class="form-group">
            <label for="completed">Completed:</label>
            <input type="checkbox" class="form-check-input ml-2" id="completed"  name="completed" [(ngModel)]="task.isCompleted">
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <input type="hidden" class="form-control" id="title" name="title" [(ngModel)]="task.id" required>
            </div>
          </div>   -->
    </div>
      <div class="row"> 
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>