.not-found-container {
    text-align: center;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 32px;
    margin: 20px 0;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 18px;
  }